[submodule "vn/solidity/5 - Contracts/fund-me/lib/forge-std"]
	path = vn/solidity/5 - Contracts/fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "vn/solidity/5 - Contracts/fund-me/lib/chainlink-brownie-contracts"]
	path = vn/solidity/5 - Contracts/fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
